
.lstfoot{
    list-style: none;
    font-size: 16px;
    font-weight: 500;
    height: 226px;
}
.lstfoot li{
    
    margin-bottom: 10%
}

.logofoot{
    width: 50%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-evenly
}
.imgfoot{
    height: 100%;
    

}
.contactofoot{
    width: 50%;
}

#txtNombre{
    width: 100%;
    height: 56px; 
    margin-bottom: 10px;
    border: none;
}


#txtDescripcion{
    width: 100%;
    height: 83px;
    margin-bottom: 10px;
    border: none;
}


.contactofoot button{
    background-color: #2A7AE4;
    border-color: #2A7AE4;
    border-style: solid;  
    font-size: 16px;
    color: #FFFFFF;
    
}

.foot{
    display: flex;
    width: 100%;
    height: 364px;
    padding: 50px 152px;
    flex-direction: row;
    font-size: 14px;
    font-weight: 400;
    background: #EAF2FD;
    align-items:flex-start;
    
}
.foot p{
  font-weight: 700;
}





@media screen and (max-width:768px) {
    .foot{
        display: flex;
        width: 100%;
        padding: 20px 32px;
        flex-direction: row;
        align-items: center;
        font-size: 14px;
        font-weight: 400;
        background: #EAF2FD;
        align-items:flex-start;
    }

    .lstfoot{
        list-style: none;
        font-size: 16px;
        font-weight: 500;
        margin: 0;
        padding: 0;
    }
    .imgfoot img{
        
        height: 100%;
    }

    .logofoot{
        width: 50%;
        display: flex;
        flex-direction: column;
        
    }
    .lstfoot li{
    
        margin-bottom: 7%;
    }
    
}

@media screen and (max-width:420px) {
    .foot{
        padding: 0px 16px;
        flex-direction: row;
        align-items: center;
        font-size: 14px;
        font-weight: 400;
        background: #EAF2FD;
        align-items:flex-start;
        flex-wrap: wrap;
        height: 553px;
    }

    .lstfoot{
        list-style: none;
        font-size: 16px;
        font-weight: 500;
        margin: 0;
        padding: 0;
        height: auto;
    }


    .logofoot{
        width: 100%;
        display: flex;
        flex-direction: column;
        
        text-align: center;
    }
    
    .contactofoot{
        width: 100%;
        
    }

    .lstfoot li{
        margin-bottom: 4%;
        
    }

}
