body{
width: 100vw;
font-family: 'Raleway', sans-serif;
min-width: 300px;
}
main{
    margin-bottom: 100px;
}
.firma p{
    text-align: center;
    font-size: 10px;
    margin-bottom: 2px;

}


 @media  screen and (max-width: 768px) {
    main{
        margin-bottom: 50px;
    }
    .card:nth-child(6),.card:nth-child(5){
        display: none;
        grid-column: none;
        grid-row: none;

    }

} 