body{
    width: 100vw;
    font-family: 'Raleway', sans-serif;
    min-width: 300px;
    }
main{
        margin-bottom: 100px;
}
.firma p{
        text-align: center;
        font-size: 10px;
        margin-bottom: 2px;
    
}